[user]
	name = Hem Brahmbhatt
	email = hamant.brahmbhatt@gmail.com
	initials = hb
[core]
	excludesfile = /Users/hem/.global_ignore
	editor = /usr/local/bin/vim
[push]
	default = simple
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
  lg = log --format="%Cred%h%Creset%s%Cgreen(%cr)%C(blue)<%an>%Creset%C(yellow)%d%Creset" --graph
  churn = log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort -n | awk 'BEGIN {print "count\tfile"} {print $1 "\t" $2}'
  st = status
  prune = git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -d
